<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>
        <div class="inform">
        <div class="city">
                
            <p>Going to</p>
            <input type="text" id="myCity" value ="" placeholder="London">
        </div>
        <div class="date">
            <p>Departing</p>    
            <input type="date" id="myDate" value="2020-01-09"></div>
        <div class="back">
                <p>Returning</p>    
                <input type="date" id="backDate" value="2020-01-09"></div>
        
        <div class="isbutton"><input type="submit" id="submit"></div>
        <div class="isbutton"><input type="submit" id="submit1"></div>
        </div>
        <section>
            <div id="insertimage"></div>
            <div id="insertword"></div>
        </section>    
    </body>
    
</html>


