header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    
}
.logo{
    height:80px;
    width:70px;
    //background-image: url(./src/client/styles/Full-transparent-background-512.png);
}
